@font-face {
    font-family:Sofia Pro ;
    src: url(font/sofiapro-light.otf);
}

*{
    margin: 0 auto;
}
.upper .container{
    width: 100%;
    background-color: #fff;
}
.upper .lg-side img{

}

.upper .etc li{
    list-style: none;
}
.upper .etc ul{
    display: flex;
}
.upper .etc a{
    margin-left: 300px;
}
.upper .etc  a{
    margin-top: -80px;
    width: 25%;
    text-decoration: none; 
    display: flex;
    font-family: 'Sofia Pro';
    font-style: normal;
    border: none;
    font-weight: 700;
    font-size: 16px;
    padding: 3px 4px;
    color: #000000;
}
.upper .etc .fc a{
    border: 1px solid black;
    width: 18%;
    padding: 2px 9px;
}

.upper .etc  li:last-child {
    background-color: #F0D108;
    box-sizing: border-box;
    width: 100%;
}

    /* end of upper  */


.voor-de{
    width: 100%;
    background-image: url(bgc.png);
}
.v-text h1{
    width: 764px;
    font-family: Sofia Pro;
    font-weight: 700;
    font-size: 48px;
    margin-top: 90px;
    color: rgb(26, 23, 23);
}

.v-text p{
    width: 584px;
    margin-top: 40px;
    margin-left: 676px;
    font-family:Sofia Pro;
    font-weight: 400px;
    font-size: 18px;

}

.v-text a{
    margin-top: 40px;
    position: absolute;
    text-decoration: none;
    padding: 17px 30px;
    border: 1px solid #000000;
    color: #000000;
    margin-left: 700px;
 }
.v-text a:first-child{
    position: relative;
    
 } 
.v-text a:last-child{
    border: 1px solid #F0D108;
    background-color: #F0D108;
    padding: 17px 30px;
    margin-left: 900px;
} 

    /* end of .voor-de */

    /* start of nav */

.navigation .container{
    margin: 0 auto;
}

.navigation .waar-text h2{
    padding: 10px;
}