@font-face {
    font-family:Sofia Pro ;
    src: url(font/sofiapro-light.otf);
}

*{
    margin: 0 auto;
   
}
.upper .container{
    width: 100%;
    background-color: #fff;
    
}
.upper .lg-side img{

}

.upper .etc li{
    list-style: none;
}
.upper .etc ul{
    display: flex;
}
.upper .etc a{
    margin-left: 300px;
}
.upper .etc .fc{
    position: absolute;
}
.upper .etc  a{
    margin-top: -80px;
    margin-left: -20px;
    width: 25%;
    text-decoration: none; 
    display: flex;
    font-family: 'Sofia Pro';
    font-style: normal;
    border: none;
    font-weight: 700;
    font-size: 16px;
    padding: 3px 4px;
    color: #000000;
}
.upper .etc .fc a{
    border: 1px solid #E7E7E7;
    width: 14%;
    margin-left: 20px;
    padding: 14px 50px;
    text-align: center;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}


.etc .fc2 {
    margin-top: 15px;
    left: 40px;
}
.etc .fc3 {
    margin-top: 15px;

}
.etc .fc4 {
    margin-top: 15px;
   
}

.etc .lc a{
    width: 126px;
    position: relative;
    background-color: #F0D108;
    left: 30px;
    /* background-color: #F0D108; */
    padding: 17px 30px;
    left: -40px;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

    /* end of upper  */


.voor-de{
    width: 100%;
    
}
.voor-de{
    background-image: url(image/lg6.png);
    width: 100%;
    max-width: 1512px;
    height: 527px;
    
}
.v-text h1{
    width: 764px;
    font-family: Sofia Pro;
    font-weight: 700;
    font-size: 48px;
    margin-top: 0px;
    color: rgb(250, 247, 247);
}

.v-text p{
    width: 745px;
    margin-top: 140px;
    margin-left: 383px;
    font-family:Sofia Pro;
    font-weight: 400px;
    border: none;
    color: #fff;
    font-size: 18px;

}

.v-text a{
    margin-top: 40px;
    position: absolute;
    text-decoration: none;
    padding: 17px 30px;
    border: 1px solid #e4e0e0;
    color: #fcfcfc;
    margin-left: 435px;
 }
.v-text a:first-child{
    position: relative;
    
 } 
.v-text a:last-child{
    border: 1px solid #F0D108;
    background-color: #F0D108;
    padding: 17px 30px;
    margin-left: 620px;
} 

    /* end of .voor-de */

    /* start of nav */

.navigation .container{
    margin: 0 auto;
}

.navigation .waar-text h2{
    padding: 10px;
     margin-left: 861px;
     /* 692px */
    margin-top: 138px;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 40px;
    color: #000000;
}

.navigation .waar-text p{
    margin-left: 768px;
    /* 613px */
    margin-top: 30px;
    border: none;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    color: #8F8F8F;
}

.waar-img {
    margin-left: 450px;
    margin-top: 110px;
}

.waar-img img{
    width: 17%;
    
    border: 1px solid #E7E7E7;
    margin-bottom: 10px;
}

.waar-spn1 span{
    padding: 10px 20px;
    margin-left: 500px;
    margin-top: 10px;
    border: 1px solid #E7E7E7;

    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.waar-spn2 span{
    margin-left: 832px ;
    /* 760px */
    border: 1px solid #E7E7E7;
    margin-top: -7px;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.waar-spn3 span{
    margin-left: 1016px;
    border: 1px solid #E7E7E7;

    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.waar-spn4 span{
    margin-left: 1276px;
    border: 1px solid #E7E7E7;
    margin-top: 5px;

    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}  
.anchor a{
    text-decoration: none;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
    margin-left: 977px;
    border:1px solid #E7E7E7;
    padding: 10px 30px;
    margin-top: -50px;
    margin-bottom: 100px;
}


/* start of diensten  */

.diensten .container{
    margin: 0 auto;
    width: 100%;
    background-color: #F9F9F9;
}
.diensten .die-text h2{
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 40px;
    color: #000000;
    margin-left: 1002px;
    margin-top: 129px;
}

.diensten .die-text p{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    border: none;
    color: #8F8F8F;
    margin-left: 891px;
    margin-top: 20px;
}

.diensten .box-left .container{
    padding: 20px 0px;
}

/* .box-left  i{
    width: 25%;
    background-color: #F0D108;
    border-radius: 50%;
} */
.box-left .container{
    margin-top: 100px;
    /* background-color: #fff; */
}
.box-left .lg .lg-t{
    box-shadow: #F9F9F9;
}
/* .box-left .lg .lg-t h3 , p{
    border: 1px #E7E7E7 solid ;
    padding: 20 30px;
} */
.box-left .lg-t h3{
    font-family: 'Sofia Pro';
    font-weight: 700;
    margin-top: -40px;
    margin-left: 606px;
    font-size: 24px;
    color: #000000;
}

.box-left .lg-t p{
    width: 446px;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 16px;
    color: #8F8F8F;
    margin-left: 606px;
    margin-top: 25px;
}

.box-right .container{

}

.box-right .lg2  {

}

.box-right .lg-t2 h3{
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-left: 1111px;
    margin-top: -168px;
}

.box-right .lg-t2 p{
    width: 446px;
    font-family: 'Sofia Pro';
    font-weight: 400;
    box-shadow: 1px #f7f7f7 solid ;
    font-size: 16px;
    color: #8F8F8F;
    margin-left: 1111px;
    margin-top: 25px;
}

/* end of diesten  */

/* start of evr */

.Ervaringen .container {
    background-color: #fff;
    margin-top: 80px;
    border: none;
    position: relative;
}

.Ervaringen .erv-txt .img1{
    position: absolute;
    left: 328px;
    top: 256px;
}

.Ervaringen .erv-txt h2{
    position: absolute;
    left: 845px;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
}

.Ervaringen .erv-txt p{
    position: absolute;
    left: 895px;
    top: 77px;
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #8F8F8F;
}


.Ervaringen .erv-box {
    color: #000000;
    position: absolute;
    top: 150px;
    padding: 20px 30px;
}
.erv-box .container{
    display: flex;
}
.erv-box .box1 p , .box2 p , .box3 p , .box4 p{
    font-family: 'Sofia Pro';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #525252;  
    border: 1px solid #E7E7E7;
    padding: 20px 40px;
}

.erv-box .box1 a , .box2 a , .box3 a , .box4 a{
    text-decoration: none;
    font-family: 'Sofia Pro';
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
    border: none;
}

.erv-box .box1{
    position: absolute;
    left: 259px;
    height: 150px;
    border: 1px solid #E7E7E7;
    width: 264px;
}

.erv-box .box2 {
    position: absolute;
    left: 572px;
    border: 1px solid #E7E7E7;
    width: 264px;
}
.erv-box .img2{
    position: absolute;
    width: 264px;
    position: absolute;
}

.erv-box .box3 {
    position: absolute;
    left: 885px ;
    border: 1px solid #E7E7E7;
    width: 264px;
}

.erv-box .box4 {
    position: absolute;
    left: 1196px;
    border: 1px solid #E7E7E7;
    width: 264px;
}